<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="manu/css/bootstrap.min.css" rel="stylesheet">

    <title>LeRU dash</title>

    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-primary">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h1 class="mb-0 text-dark">LeRU</h1>
    </div>
  </header>

  <main class="px-3">
    <h1>Welcome to LeRU 4+4.</h1>
    <p class="lead">LeRU is a distributed database system for retailers to store and maintain their data.</p>
    <p class="lead">
      <a href="/login/good" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
      <a href="/register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register</a>

    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Template <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://#" class="text-white">@LeRU</a>.</p>
  </footer>
</div>



  </body>
</html>
