<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
	<title>My Store</title>
    <link href="../manu/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <style>
        ul li a {
            display: block;
            color: #fff;
            text-decoration: none;
        }

        ul li a:hover {
            background: #fff;
            border-radius: 30px 0px 0px 30px;
            padding-left: 1rem;
            padding-bottom: 1rem;
            color: var(--color-dark);
        }

        ul li:hover ul.dropdown {
            display: block;
        }

        .sidebar-menu a {
            padding-left: 1rem;
            display: block;
            color: #fff;
            font-size: 1.2rem;
        }

        .sidebar-menu a.active {
            background: #fff;
            padding-left: 1rem;
            padding-bottom: 1rem;
            color: var(--main-color);
            border-radius: 30px 0px 0px 30px;
        }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="public/bootstrap-5.0.2-dist/bootstrap-5.2.0-beta1-examples/dashboarddashboard.css" rel="stylesheet">

</head>
<body>
	<header class="main-header">
		<div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Store Name</span>
              </a>
            </header>
          </div>
	</header>

    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span>LeRU</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/user/<%=param%>"><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/inventory/<%=param%>" class="#active"><span class="las la-igloo"></span>
                        <span>Inventory</span></a>
                        <ul class="dropdown">
                            <li><a href="/inventoryReport/<%=param%>" class="active"><span class="las la-igloo"></span>
                                <span>Inventory Report</span></a>
                        </li>
                        <li>
                            <a href="/salesReport/<%=param%>"><span class="las la-igloo"></span>
                                <span>Sales Report</span></a>
                        </li>
                        </li>
                    </li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header class="secondheader">
            <h1>
                <label for="">
                    <span class="las las-bar"></span>
                </label>
                Store Name
            </h1>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="search here"/>
            </div>
            <div class="user-wrapper">
                <img src="imgbaby.png" width="40 px" height="40px" alt="">
            <div>
                <h2>Malunga</h2>
                <small>Admin</small>
            </div>
            </div>
        </header>
        <main>
        <div class="recent-grid">
            <div class="projects">
                 <div class="card">
                    <div class="card-header">
                          <h2>Inventory Reports</h2>
                    </div>
                    <div class="card-body">
                        <table width="100%">
                             <thead>
                                <tr>
                                    <td>Sales Number</td>
                                    <td>Price Per Quantity</td>
                                    <td>Quantity</td>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                    <td>Malunga</td>
                                    <td>Kanonzo</td>
                                    <td>
                                        <span class="Status"></span>
                                        In progress
                                    </td>
                                </tr>
                                     <tr>
                                        <td>Inkosi eame Jesu</td>
                                        <td>Morena</td>
                                        <td>
                                            <span class="Status"></span>
                                            Pending
                                        </td>
                                     </tr>
                                     <tr>
                                        <td>Malunga</td>
                                        <td>Kanonzo</td>
                                        <td>
                                            <span class="Status"></span>
                                            In progress
                                        </td>
                                    </tr>
                                         <tr>
                                            <td>Inkosi eame Jesu</td>
                                            <td>Morena</td>
                                            <td>
                                                <span class="Status"></span>
                                                Pending
                                            </td>
                                         </tr>
                                         <tr>
                                            <td>Malunga</td>
                                            <td>Kanonzo</td>
                                            <td>
                                                <span class="Status"></span>
                                                In progress
                                            </td>
                                        </tr>
                                             <tr>
                                                <td>Inkosi eame Jesu</td>
                                                <td>Morena</td>
                                                <td>
                                                    <span class="Status"></span>
                                                    Pending
                                                </td>
                                             </tr>
                                </tbody>

                        </table>
                    </div>
                 </div>
            <div class="customer">

            </div>
        </div>

        </main>
    </div>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="bootstrap-5.0.2-dist/bootstrap-5.2.0-beta1-examples/dashboarddashboard.js"></script>

    </body>
</html>
